.profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}

img{
  display: flex;
  align-self: center;
  height: 200px;
  width: 200px;
}

span{
  display: flex;
  justify-content: center;
  background-color: cornsilk;
  border-radius: 7px;
  margin-top: 25px;
}

p{
  background-color: cornsilk;
  border-radius: 7px;
  text-align: center;
}

.buttons button{
  background-color: bisque;
  border-radius: 7px;
  border: 0;
}

.buttons button{
  cursor: pointer;
}
