.repos{
  display: flex;
}

.repos .contributors ul{
  display: flex;
  flex-direction: column;
}

.repos .contributors img{
  width: 100px;
  height: 100px;
}
.repos button{
  background-color: bisque;
  border-radius: 7px;
  border: 0;
}

.repos button{
  cursor: pointer;
  margin-top: 5px;
  height: 17px;
}

.repos ul{
  display: flex;
  flex-direction: column;
}

.repos ul li{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  background-color: cornsilk;
  border-radius: 7px;
  margin-bottom: 20px;
}

